<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Product List</title>
</head>
<body>
  <button><a href="/logout">Sign Out</a></button>

  <center>
    <h1>Sampai di list produk</h1>
  </center>
  
</body>
</html>